/* Estilo aside 
   =============================================================== */
   @import url('//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css');
   .accordion-toggle:after {
       font-family: 'FontAwesome';
       content: "\f078";    
       float: right;
   }
   .accordion-opened .accordion-toggle:after {    
       content: "\f054";    
   }

/* ===============================================================
   ESTILOS DE DIRECTIVAS
   =============================================================== */
/* ===============================================================
   CONSTANTES SASS
   =============================================================== */
/* Colores
   =============================================================== */
/* Iconos 
   =============================================================== */
/* Path iconos */
/* imagenes svg */
/* Placeholders 
   =============================================================== */
.amenitie .bathrobes, .amenitie .bathtub, .amenitie .beach, .amenitie .beach-pool-facilities, .amenitie .business-center, .amenitie .children-club, .amenitie .coffe-maker, .amenitie .deep-soaking-bathtub, .amenitie .fitness-center, .amenitie .garden, .amenitie .kitchen-facilities, .amenitie .newspaper, .amenitie .nightclub, .amenitie .restaurant, .amenitie .safety-box, .amenitie .separate-bredroom, .amenitie .sheets {
  /* Propiedades de background */
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  /* Otras */
  height: 100%;
}

/* Estilo de hoteles 
   =============================================================== */
.hotel .amenitie {
  display: inline-block;
  width: 25px;
  height: 25px;
}

.amenitie .bathrobes {
  background-image: url("../assets/icons/amenities/bathrobes.svg");
}

.amenitie .bathtub {
  background-image: url("../assets/icons/amenities/bathtub.svg");
}

.amenitie .beach {
  background-image: url("../assets/icons/amenities/beach.svg");
}

.amenitie .beach-pool-facilities {
  background-image: url("../assets/icons/amenities/beach-pool-facilities.svg");
}

.amenitie .business-center {
  background-image: url("../assets/icons/amenities/business-center.svg");
}

.amenitie .children-club {
  background-image: url("../assets/icons/amenities/children-club.svg");
}

.amenitie .coffe-maker {
  background-image: url("../assets/icons/amenities/coffe-maker.svg");
}

.amenitie .deep-soaking-bathtub {
  background-image: url("../assets/icons/amenities/deep-soaking-bathtub.svg");
}

.amenitie .fitness-center {
  background-image: url("../assets/icons/amenities/fitness-center.svg");
}

.amenitie .garden {
  background-image: url("../assets/icons/amenities/garden.svg");
}

.amenitie .kitchen-facilities {
  background-image: url("../assets/icons/amenities/kitchen-facilities.svg");
}

.amenitie .newspaper {
  background-image: url("../assets/icons/amenities/newspaper.svg");
}

.amenitie .nightclub {
  background-image: url("../assets/icons/amenities/nightclub.svg");
}

.amenitie .restaurant {
  background-image: url("../assets/icons/amenities/restaurant.svg");
}

.amenitie .safety-box {
  background-image: url("../assets/icons/amenities/safety-box.svg");
}

.amenitie .separate-bredroom {
  background-image: url("../assets/icons/amenities/separate-bredroom.svg");
}

.amenitie .sheets {
  background-image: url("../assets/icons/amenities/sheets.svg");
}